$color-main-100: #f6f8fd;
$color-main-200: #d2daf7;
$color-main-300: #b8c4f2;
$color-main-400: #9daeed;
$color-main-500: #8298e8;
$color-main-600: #4062dc;
$color-main-700: #203faf;
$color-main-800: #14276d;
$color-main-900: #0c1842;

$grey-50: #fafafa;
$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-300: #d1d5db;
$grey-400: #9ca3af;
$grey-500: #6b7280;
$grey-600: #4b5563;
$grey-700: #374151;
$grey-800: #1f2937;
$grey-900: #111827;
$grey-950: #030712;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-main-100;
  font-family: sans-serif;
  letter-spacing: 1px;
}
